server:
  port: 8081

spring:
  config:
    activate:
      on-profile: default
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: https://keycloak-mardensp-dev.apps.sandbox-m2.ll9k.p1.openshiftapps.com/realms/sample-realm
        registration:
          keycloak:
            client-id: sample-app
            client-secret: kLhOhTr9f4j1cxYQNHkj2JpLFeE4iT4q
      resourceserver:
        jwt:
          issuer-uri: https://keycloak-mardensp-dev.apps.sandbox-m2.ll9k.p1.openshiftapps.com/realms/sample-realm
          jwk-set-uri: https://keycloak-mardensp-dev.apps.sandbox-m2.ll9k.p1.openshiftapps.com/realms/sample-realm/protocol/openid-connect/certs

---
spring:
  config:
    activate:
      on-profile: dev

---
spring:
  config:
    activate:
      on-profile: prod